*{
    margin: 0PX;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #222f3d;
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    height: 50px;
    width: 100px;
    
}
.logo{
    height: 50px;
    width: 100px;
    background-size: cover;
    background-image: url("download.png");
    position: absolute;
    left: 0px;
    border-radius: 0px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 10px solid white;
}
.delivery{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;
}
.nav-search{
    border: 2px solid orange;
}
.add-to{
    display: flex;
}
.india{
    color:white;
    font: bolder;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    /* background-color: aquamarine; */
    height: 40px;
    width: 620px;
    border-radius: 4px;
    border: none;
}
.nav-select{
    background-color: #f3f3f3;
    width: 45px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.input{
    color: black;
    height: 37.9px; 
    width: 100%;
    border-top-left-radius:0%;
    border-bottom-left-radius:0%;
    border-top-right-radius:0%;
    border-bottom-right-radius:0%;
    font-size: 1rem;
    border: none;
}

.search-icon{
     background-color: #f3f3f3;
    width: 45px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.Hello{
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
}
.Accounts{
    color: white;
    font-size: 0.9rem;
    font-weight: 900px;
}
.Return{
    color: white;
    font-size: 0.7rem;
    font-weight: 700px;
}
.Order{
    color: white;
    font-size: 0.8 rem;
    font-weight: 700px;
}
.Cart{
    color: white;
    font-size: 0.8 rem;
    font-weight: 700px;
    margin-right: 9px;
}
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex; 
    color: white;
    align-items: center;
    justify-content: space-evenly;
}


.option{
    color: white;
    font-size: 0.85rem;
    /* background-color: black; */
    text-decoration: none;
}

.lang{
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 90px;
    transition: 400ms;
}

.langs:hover{
    transform:scale(1.08);

}

.select{
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
    margin-left: 90px;
}

.list{
    color: white;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
}

ul a{
    display: block;
    align-items: center;
    margin-top: 10px;
}

.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 15px;
}


.foot-panel3{
    height: 60px;
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image{
    height: 50px;
    width: 100px;
    background-size: cover;
    background-image: url("download.png");
    border-radius: 0px;
}
