*{
     margin: 0PX;
     font-family: Arial;
     border: border-box;
 }
 .navbar{
     height: 68.5px;
     background-color: #222f3d;
     color: white;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 .nav-logo{
     height: 50px;
     width: 100px;
     
 }
 .logo{
     height: 50px;
     width: 100px;
     background-size: cover;
     position: absolute;
     left: 0px;
     border-radius: 0px;
 }